*.csv
*.xlsx
*.pyc
*.h5
doc/DOC.md
*_old_*
*.npy
*.pkl
*MI-LONGFLY*
*.log
*.pxi
/logs
/tensorboard_log
/pandas
/.vscode
quantitative_analysis_with_deep_learning/saved_models
quantitative_analysis_with_deep_learning/saved_results
quantitative_analysis_with_deep_learning/saved_figures
/docs
/dataset
/output
/well_trained



